<h1>bottoms</h1>
<div>
  <%= link_to 'Edit', edit_bottom_path %>
  <%= @bottom.waist %>
  <%= @bottom.hip %>
  <%= @bottom.rising_length %>
  <%= @bottom.inseam %>
  <%= @bottom.total_length %>
  <%= @bottom.thickness_of_thigh %>
  <%= @bottom.bottom_width %>
</div>