<% set_meta_tags title: Material.model_name.human %>
<div>
  <div class= "flex justify-center mb-10">
  </div>
  <%= form_with model: @material, url: admin_material_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class= "flex flex-col justify-center p-5">
      <div class= "flex flex-col-start items-center">
        <div class= "flex flex-col">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: Material.human_attribute_name(:name), class: 'mb-5 shadow text-gray-70 bg-white border border-50 border-black rounded focus:border-none focus:ring-black/50 focus:ring-2' %>
        </div>
      </div>
      <div class= "flex flex-col">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: Material.human_attribute_name(:description), class: 'mb-5 shadow text-gray-70 bg-white border border-50 border-black rounded focus:border-none focus:ring-black/50 focus:ring-2' %>
      </div>
      <div class= "flex flex-col">
        <%= f.label :material_image %>
        <%= f.file_field :material_image, size: '250x200', class: 'mb-5 shadow text-gray-70 bg-white border border-50 border-black rounded focus:border-none focus:ring-black/50 focus:ring-2' %>
        <%= f.hidden_field :material_image_cache %>
      </div>
    </div>
    <div class= "flex flex-col items-center">
      <%= f.submit t('defaults.update'), class: 'mt-7 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow' %>
    </div>
  <% end %>
</div>