<div>
  <div class= "flex justify-center mb-10">
    <%= image_tag 'materials_logo_image.png', size: '500x500' %>
  </div>
  <div>
    <div class= "flex justify-center mt-5">
      <%= image_tag @material.material_image_url, class: 'rounded-xl', size: '300x250' %>
    </div>
    <div class= "flex justify-center text-3xl font-bold mt-3">
      <%= @material.name %>
    </div>
    <div class= "flex justify-center mt-5">
      <%= safe_join(@material.description.split("\n"),tag(:br)) %>
    </div>
  </div>
</div>
<div class= "flex justify-center mt-16 px-6 py-3 bg-black text-white rounded-full">
  <%= link_to 'Back', admin_materials_path %>
</div>