<% content_for(:title, Top.model_name.human) %>
<div>
  <h1 class= "text-center font-bold text-4xl m-5">TOPS</h1>
  <%= form_with model: top, url: top_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class= "flex flex-row grid grid-cols-2 sm:grid-cols-3 justify-center gap-5 p-5">
      <div class= "flex flex-col items-center">
        <%= f.label :neck %>
        <div class= "flex flex-row mb-5 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= f.text_field :neck, class: 'w-16 border-none focus:outline-none text-end' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
      <div class= "flex flex-col items-center">
        <%= f.label :shoulder_width %>
        <div class= "flex flex-row mb-5 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= f.text_field :shoulder_width, class: 'w-16 border-none focus:outline-none text-end' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
      <div class= "flex flex-col items-center">
        <%= f.label :body_width %>
        <div class= "flex flex-row mb-5 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= f.text_field :body_width, class: 'w-16 border-none focus:outline-none text-end' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
      <div class= "flex flex-col items-center">
        <%= f.label :body_length %>
        <div class= "flex flex-row mb-5 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= f.text_field :body_length, class: 'w-16 border-none focus:outline-none text-end' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
      <div class= "flex flex-col items-center">
        <%= f.label :sleeve_length %>
        <div class= "flex flex-row mb-5 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= f.text_field :sleeve_length, class: 'w-16 border-none focus:outline-none text-end' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
      <div class= "flex flex-col items-center">
        <%= f.label :sleeve_width %>
        <div class= "flex flex-row mb-5 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <%= f.text_field :sleeve_width, class: 'w-16 border-none focus:outline-none text-end' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
    </div>
    <% if current_page?(controller: 'tops', action: 'new') %>
      <div class= "flex flex-col items-center">
        <%= f.submit t('defaults.create'), class: 'mt-7  bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow' %>
      </div>
    <% else %>
      <div class= "flex flex-col items-center">
        <%= f.submit t('defaults.update'), class: 'mt-7  bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow' %>
      </div>
    <% end %>
  <% end %>
</div>