<div class= "flex flex-col items-center">
  <%= image_tag 'card.hunger', size: '200x200' %>
  <div class= "block p-6 mx-10 w-72 bg-black shadow-md">
    <div class= "flex justify-center mb-7 px-5 text-xl font-bold tracking-tight text-white hover:cursor-pointer ">
      <%= link_to top_path(top) do %>
        <%= top.title %>
      <% end %>
    </div>
    <div class= "flex flex-row justify-end gap-5">
      <div class= "underline decoration-solid text-white font-semibold">
        <%= link_to 'Edit', edit_top_path(top) %>
      </div>
      <div class= "underline decoration-solid text-white font-semibold">
        <%= button_to 'Delete', top_path(top), method: :delete %>
      </div>
    </div>
  </div>
</div>