<h1>Tops</h1>
<div>
  <%= link_to 'Edit', edit_top_path %>
  <%= @top.neck %>
  <%= @top.shoulder_width %>
  <%= @top.body_width %>
  <%= @top.body_length %>
  <%= @top.sleeve_length %>
  <%= @top.shoulder_width %>
</div>