<div class="overflow-x-auto shadow-md">
  <table class="w-full text-sm text-center border border-black">
    <thead class="text-xs bg-gray-300 border-b border-black uppercase">
      <tr>
        <th scope="col" class="py-3 px-6">
          <%= t('defaults.body_parts') %>
        </th>
        <th scope="col" class="py-3 px-6">
          <%= t('defaults.size') %>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
          <%= Underwear.human_attribute_name(:top_bust) %>
        </th>
        <td class="flex flex-row py-4 px-6">
          <%= underwear.top_bust %>
          <p>cm</p>
        </td>
      </tr>
      <tr class="bg-gray-200 border-b">
        <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
          <%= Underwear.human_attribute_name(:under_bust) %>
        </th>
        <td class="flex flex-row py-4 px-6">
          <%= underwear.under_bust %>
          <p>cm</p>
        </td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
          <%= Underwear.human_attribute_name(:waist) %>
        </th>
        <td class="flex flex-row py-4 px-6">
          <%= underwear.waist %>
          <p>cm</p>
        </td>
      </tr>
      <tr class="bg-gray-200 border-b">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
          <%= Underwear.human_attribute_name(:hip) %>
        </th>
        <td class="flex flex-row py-4 px-6">
          <%= underwear.hip %>
          <p>cm</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>