<% set_meta_tags title: Ring.model_name.human %>
<div>
  <div class= "flex justify-center mb-10">
    <%= image_tag 'rings_logo_image.png', size: '200x200' %>
  </div>
  <div class= "flex justify-center">
    <%= image_tag 'rings_guide_image.png', size: '350x350' %>
  </div>
  <%= form_with model: ring, url: ring_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class= "flex justify-center gap-5 p-5">
      <div class= "flex flex-col items-center">
        <%= f.label :finger_circumference %>
        <div class= "flex flex-row">
          <%= f.text_field :finger_circumference, placeholder: '0.0', class: 'w-20 mb-5 shadow text-gray-70 text-end bg-white border border-50 border-black rounded focus:border-none focus:ring-black/50 focus:ring-2' %>
          <p class= "p-2">cm</p>
        </div>
      </div>
    </div>
    <% if current_page?(controller: 'rings', action: 'new') %>
      <div class= "flex flex-col items-center">
        <%= f.submit t('defaults.create'), class: 'mt-7 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow' %>
      </div>
    <% else %>
      <div class= "flex flex-col items-center">
        <%= f.submit t('defaults.update'), class: 'mt-7 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow' %>
      </div>
    <% end %>
  <% end %>
</div>