<!DOCTYPE html>
<html>
  <head>
    <title><%= t('defaults.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class= "bg-cover" style="background-image: url('<%= asset_path('paint_00001.jpeg') %>');">
      <% if logged_in? %>
        <%= render 'shared/login_header' %>
      <% else %>
        <%= render 'shared/header' %>
      <% end %>
      <main class= "container mx-auto">
        <div class= "flex flex-col justify-center items-center">
          <%= render 'shared/flash_message' %>
          <%= yield %>
        </div>
      </main>
      <%= render 'shared/footer' %>
      <%= render 'shared/phone_menu_bar' %>
    </div>
  </body>
</html>
