<!DOCTYPE html>
<html>
  <head>
    <title>NetShoppingSize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <main class= "container mx-auto">
      <div class= "flex flex-col justify-center h-screen items-center">
        <%= yield %>
      </div>
    </main>
    <%= render 'shared/footer' %>
    <%= render 'shared/phone_menu_bar' %>
  </body>
</html>
